* {
/*	outline: 1px dotted red;*/
}
#container {
	width: 970px;
}
	div.userinput {
		display: inline-block;
		width: 300px;
		vertical-align: top;
	}
		#addusr {
			margin-left: 40px;
		}
		form input {
			margin: 15px;
		}

		form input#add {
			margin: 0px;
			background: linear-gradient(white,gray);
			width: 80px;
			height: 25px;
		}

	div.rightside  {
		display: inline-block;
	}
		div.output {
			border: 1px solid black;
			width: 200px;
			height: 80px;
			background: lightblue;
			vertical-align: top;
			margin-bottom: 15px;
		}
			div.output p {
				margin-left: 15px;
			}
